{% extends "layout.html" %}
{% block title %} La cave {% endblock %}

{% block content %} 
    <section class="cave">
        <h2>Liste des bouteilles disponibles :</h2>
        <table>
            <tbody>
                    <td>
                        <p>Nom</p>
                    </td>
                    <td>
                        <p> Domaine</p>
                    </td>
                    <td>
                        <p>Prix</p>
                    </td>
                    <td>
                        <p>Type</p>
                    </td>
                    <td>
                        <p>Région</p>
                    </td>
                    <td>
                        <p>Année</p>
                    </td>
                    <td>
                        <p>Prix</p>
                    </td>
                {% for bouteille in list_bouteille %}
                    <tr>
                        <td>
                            {{ bouteille[0] }}
                        </td>
                        <td>
                            {{ bouteille[1] }}
                        </td>
                        <td>
                            {{ bouteille[2] }}
                        </td>
                        <td>
                            {{ bouteille[3] }}
                        </td>
                        <td>
                            {{ bouteille[4] }}
                        </td>
                        <td>
                            {{ bouteille[5] }}
                        </td>
                        <td>
                            {{ bouteille[6] }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section> 
{% endblock %} 