{% extends "layout.html" %}
{% block title %} La cave {% endblock %}

{% block content %} 
    <section class="cave">
        <h2>Liste des étagères de la cave :</h2>
        <table>
            <tbody>
                <tr>
                    <td>
                        <p>Numéro de l'étagère : </p>
                    </td>
                    <td>
                        <p> Région des bouteilles : </p>
                    </td>
                    <td>
                        <p>Capacité : </p>
                    </td>
                    <td>
                        <p>Emplacements disponibles : </p>
                    </td>
                    <td colspan="3">
                        <p>Gestion</p>
                    </td>
                </tr>
            
                {% for etagere in list_etagere %}
                <tr>
                    <td>
                        {{ etagere[0] }}
                    </td>
                    <td>
                        {{ etagere[1] }}
                    </td>
                    <td>
                        {{ etagere[2] }}
                    </td>
                    <td>
                        {{ etagere[3] }}
                    </td>
                    <td>
                        <form method="POST" action="/clear_etagere">
                            <input type="hidden" name="id" value= {{etagere[4]}}>
                            <button class="delete-button">Supprimer</button>
                        </form>
                    </td>
                    <td>
                        <form method="POST" action="/modify_etagere">
                            <input type="hidden" name="id" value= {{etagere[4]}}>
                            <button class="edit-button">Configurer</button>
                        </form>
                    </td>
                    <td>
                        <form method="POST" action="/manage_etagere">
                            <input type="hidden" name="id" value= {{etagere[4]}}>
                            <button class="edit-button">Gérer</button>
                        </form>
                    </td> 
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section> <!--
    <section class="form _new_cave">
        <h2>Créer une nouvelle cave</h2>
        <form method="POST" action="/add_cave">
            <label for="nb_etageres">Nombre d'étagères:</label>
            <input type="number" id="nb_etageres" name="nb_etageres" required>

            <label for="localisation">Localisation:</label>
            <input type="text" id="localisation" name="localisation" required>

            <label for="nom">Nom:</label>
            <input type="text" id="nom" name="nom" required>

            <button type="subm
            it">Créer une cave</button>
        </form>
    </section> -->
{% endblock %}