<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion des Caves de Vins</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>

    <header>
        <h1> Gestion des Caves à Vins </h1>
        <h2> {% block title%}{% endblock %} </h2>

        <a href="/inscription" class="register-button">S'enregistrer</a>
        <a href="/connexion" class="login-button">Se connecter</a>
    </header>

    {% block content%}
    {% endblock %}

    <footer>
        <p>&copy; 2023 Gestion des Caves de Vins</p>
    </footer>

</body>
</html>