<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestionnaire des Caves à Vins</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>

    <header>
        {% if connecte != True %}
            <h1> <a href="/">Gestion des Caves à Vins</a></h1>
        {% else%}
            <h1> <a href="/lobby">Gestion des Caves à Vins</a></h1>  
        {% endif %}
        <h2> {% block title%}{% endblock %} </h2>
        {% if connecte != True %}
            <a href="/inscription" class="register-button">S'enregistrer</a>
            <a href="/connexion" class="login-button">Se connecter</a>
        {% else%}
            <a href="/deconnexion" class="login-button">Se Déconnecter</a>
        {% endif %}   
    </header>

    {% block content%}
    {% endblock %}

    <footer>
        <p>&copy; 2023 Gestion des Caves de Vins</p>
    </footer>

</body>
</html>